.checkout {
  &__button {
    background-color: var(--color-background-button);
    color: #fff;
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    border-radius: 0;
    text-decoration: none;
    border: none;

    &:hover {
      background-color: var(--color-background-button-hover);
    }

    &--fullwidth {
      width: 100%;
    }
  }
}
