@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.login {
  &__text {
    &--error {
      color: var(--color-error);
    }

    &--success {
      color: green;
    }
  }

  &__rightside {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      width: 0.5px;
      height: 100%;
      background: #c8c7cc;
      top: 0;
      left: 0;
    }

    @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
      &:after {
        width: 0;
        height: 0;
      }
    }
  }

  &__button {
    background-color: var(--color-background-button);
    color: #fff;
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    border-radius: 0;
    text-decoration: none;

    &:hover {
      background-color: var(--color-background-button-hover);
    }

    &--fullwidth {
      width: 100%;
    }
  }
}
