.pagination {
  justify-content: center;
  justify-self: center;
  margin: 30px 0;
  .page-item {
    cursor: pointer;
    padding: 10px 0px;
    margin: 0 5px;
    text-decoration: none;
    line-height: 1em;
    transition: background-color 0.3s;
    background-color: var(--color-background);
    font-weight: 700;
    font-size: 16px;
    border: 1px solid var(--color-border);
    .page-link {
      color: var(--color-hover);
      &:hover {
        color: var(--color-icon);
      }
    }
  }
  .active {
    .page-link {
      background-color: var(--color-hover);
      color: var(--color-icon);
      border: 1px solid var(--color-hover);
    }
  }
}

.paginattion .active .page-link,
.pagination .page-link:hover {
  background-color: var(--color-hover);
}
