.productsSlider {
  margin-bottom: 50px;
  overflow: hidden;
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin: 30px 0;
  }
  .swiper-slide {
    animation: fadeUp 1s;
    display: flex;
  }
}
.productsSlider .swiper-button-next,
.productsSlider .swiper-button-prev {
  color: white !important;
  background-color: var(--color-background-main);
  padding: 0px 5px;
  top: 45%;
  transform: translateY(-45%);
}
.productsSlider .swiper-button-next::after,
.productsSlider .swiper-button-prev::after {
  font-size: 12px !important;
  font-weight: 800;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 640px) {
  .productsSlider .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 1080px) {
  .productsSlider .swiper-container {
    width: 1080px;
  }
}
